* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #efefef;
}

.x {
  color: rgb(255, 70, 37);
}
.o {
  color: rgb(44, 135, 255);
}

.tipka:hover:hover {
  box-shadow: 0 0 15px #888;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  place-items: center;
  justify-content: center;
}
